
{{extend 'layout.html'}}
<!-- need to source this in any view which has a LOAD chart -->
<script src="https://www.google.com/jsapi" type="text/javascript"></script>

<!-- Here, data and options same for both charts -->
<!-- user_signature works if using logged-in users ... not well tested -->
{{ data_url = URL('plugin_google_chart','plugin_return_data.json', vars=dict(social_type=request.vars.social_type),user_signature=True)
  #options are documented at https://developers.google.com/chart/
  options ={
        'hAxis': {'format': 'HH:mm'},
        'title':'','width':0,'height':0,
    'enableInteractivity':'true'}
          }}


{{ if hours: }}

    <div class="well span8">
    {{=LOAD('plugin_google_chart','plugin_google_chart.load',user_signature=True,ajax=True,
        vars={'type':'timeline','data_url':data_url,'options_dict':options})
    }}
    </div>
    <div class="span2 well">
        <ul class="nav nav-tabs vert">
          <li class="{{='active' if request.vars.social_type=='vk' else ''}}"><a href="?social_type=vk">VK</a></li>
          <li cass="{{='active' if request.vars.social_type=='fb' else ''}}"><a href="?social_type=fb">Facebook</a></li>
        </ul>
        <h3>{{=T('All time in')}} {{=request.vars.social_type or 'vk'}}:</h3>
        <h3>{{=hours}} {{=T('hours')}}</h3>
    </div>
{{ else: }}
        <div class="span10 center">
           <h1>{{=T('You don\'nt have logged time.Come back later.')}}</h1>
        </div>
{{ pass }}